@page
@model ExampleFinkok.Pages.FingerPrint.IndexModel
@{
      ViewData["Title"] = "Autentucacion";
   string responseInvoice = (string)ViewData["ResposeInvoice"];
}

<div>

<p>Lector de huella</p>

<p>@responseInvoice</p>
</div>

