@page
@model ExampleFinkok.Pages.Finkok.IndexModel

@{
   ViewData["Title"] = "Facturacion Finkok";
   string responseInvoice = (string)ViewData["ResposeInvoice"];

}

<form method="post">
    De click para enviar su factura
    <button type="submit">Timbrar Factura</button>
</form>

<div>

<p>@responseInvoice</p>
</div>

